<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
	


<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>STEP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css">
   
</head>

<body background="./ballet.jpg">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">	<a class="navbar-brand" href="#">STEP - Dance & Perfomance School</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" onclick="document.getElementById('id01').style.display='block'">Login</a></li> <!-- Opens the login block-->
                    <li class="nav-item"><a class="nav-link" href="#">Classes</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</nav>






<!-- Page Content -->
	<div class="container">

		<div class="row d-flex justify-content-center">
			<div class="col-lg-12 text-center">
           
				<h1 class="mt-5">Welcome to STEP - Dance & Performance School</h1>
				<h3 class="lead"> </h3>
			</div>
			<div id="results" class="col-lg-8 text-center order-3"></div>
		</div>
	</div>






<!-- Home page details -->
<div class="card-deck">
  <div class="card mt-5"> 
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ_VNkN3pUfE1GLfqDeUYnLDk4H57BsYIEEDkHFo6_ZqsSNnVEB&usqp=CAU" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ballet Dance</h5>
      <p class="card-text">
         <p class="text-justify">An artistic dance form performed to music, using precise 
            nd highly formalized set steps and gestures. Our teachers will prepare 
            you on all the steps to become a professional ballet dancer or improve an existing
            skill. </p>
            <p class="text-justify">The Ballet Dance classes are divide in Beginner, Intermadiate, Advanced and Individual.</p> 
            <p class="text-justify">   Our fees varies according to the student level.</p>
            </p>
         <a href="#" class="btn btn-primary">Enroll</a>
    </div>
  </div>
   <div class="card mt-5"> 
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCzbt6pp85A4J98dbxBxs3_vqPyOUpzQIRad5njb4-9es0JbZ2&usqp=CAU" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tap Dance</h5>
      <p class="card-text">
        <p class="text-justify">Tap dance is a type of dance characterised by using the sounds of tap shoes 
            striking the floor as a form of percussion. The sound is made by shoes that have a 
            metal "tap" on the heel and toe. 
            There are several styles of tap dance, including rhythm, classical, Broadway, and post-modern.</p>
            <p class="text-justify"> With our experienced teachers, the students will have a guidance through the levels
            of the course </p>
            <p class="text-justify">  Our fees varies according to the student level.</p>  
        </p>
     <a href="#" class="btn btn-primary">Enroll</a>
    </div>
  </div>
     <div class="card mt-5"> 
    <img class="card-img-top" src="https://www.differencebetween.com/wp-content/uploads/2011/04/Contemporary-Dance_Difference-Between-Modern-and-Contemporary-Dance.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Morden Dance</h5>
      <p class="card-text">
        <p class="text-justify">A free expressive style of dancing that developed in the early 20th century
             as a reaction to classical ballet.
             In recent years it has included elements not usually associated with dance, 
             such as speech and film.</p>
             <p class="text-justify"> </p>
     </p>
     <a href="#" class="btn btn-primary">Enroll</a>
    </div>
  </div>
   <div class="card mt-5"> 
    <img class="card-img-top" src="https://steemitimages.com/DQmfVJAuAYHYa8JSaSVVRXmQAPqqZUTQD873iriNNHdbd1g/TDAPC2105-0148.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jazz Dance</h5>
      <p class="card-text">
            <p class="text-justify">Jazz dance is a performance dance technique and style that first 
                emerged in the United States in the early twentieth century.
                Jazz dance may refer to vernacular jazz or to Broadway or theatrical jazz.
                Both genres build on African American vernacular styles of 
                dancing that emerged with jazz music.</p>
            <p>Our school offers Jazz Dance classes for all the levels</p>
     </p>
      <a href="#" class="btn btn-primary">Enroll</a>
    </div>
  </div>
</div>
<!-- menu reviews -->
	<div class="container">
		<div class="row">
        <div class="col-lg-4 text-center order-2">
			
				<form action="/create" method="POST" class="card card-body mt-5">
					<div class="form-group">
						<select type="text" name="course" placeholder="Insert a Course Name" class="form-control" autofocus>
                    
							<option value="Ballet Dance">Ballet Dance</option>
							<option value="Tap Dance">Tap Dance</option>
							<option value="Jazz Dance">Jazz Dance</option>
							<option value="Morden Dance">Morden Dance</option>
						</select>
                    
                    </div>
                    <div class="form-group">
						<select type="text" name="level" placeholder="Insert course level" class="form-control">
                       
							<option value="Beginner">Beginner</option>
							<option value="Intermadiate">Intermadiate</option>
							<option value="Advanced">Avanced</option>
							
						</select>

                        </div>
                    <div class="form-group">
						<input type="text" name="name" placeholder="Your Name" class="form-control">
                    </div>
                    <div class="form-group">
						<input type="text" name="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        
						<textarea type="text" name="review" placeholder="Review" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-primary">
                        Save
                    </button>
                    <p></p>
                   
				</form>
               
        </div>
 
 <div class="col-lg-6 text-left order-3">
                <% tasks.forEach(function (task) { %>
                    <div class="card card-body mt-5">
                        <h5><%= task.course %> <%= task.level %></h5>
                        <p><%= task.review %></p>
                        <p><%= task.name %></p>
                        <p><%= task.email %></p>
                         <button  id="delete-button" type="" class="btn btn-danger btn-sm w-20">
                       
                        Delete
                        </button>
                    </div>
                <% }) %>
</div>

               
			</div>
		</div>
	</div>
	
</body>

</html>